<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731733965390-6tp9o5fvku00sqtsg9lfikgm5sks7q31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731733965390-6tp9o5fvku00sqtsg9lfikgm5sks7q31</string>
	<key>API_KEY</key>
	<string>AIzaSyAknERdywPa1DC-2qUIWXO5-RuKC6l9CIc</string>
	<key>GCM_SENDER_ID</key>
	<string>731733965390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fireDrive</string>
	<key>PROJECT_ID</key>
	<string>fire-drive-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-drive-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731733965390:ios:cb8031f1deab239e44611f</string>
</dict>
</plist>